# PHPStorm
.idea

# LearningCode
LearningCode/data/*.db
LearningCode/data/*.db-*
LearningCode/uploads/images/*
LearningCode/uploads/files/*
!LearningCode/uploads/images/.gitkeep
!LearningCode/uploads/files/.gitkeep